<% include header.ejs %>


<nav></nav>
<div id="react-insert-point-canvas"></div>
<div id="react-insert-point-preview"></div>

<script src="/javascripts/jquery.mousewheel.min.js"></script>
<script src="/javascripts/moxie.min.js"></script>
<script src="/javascripts/plupload.dev.js"></script>
<script src="/javascripts/animation.js"></script>
<script src="/javascripts/editor-react.js"></script>


<% include footer.ejs %>